@tailwind base;
@tailwind components;
@tailwind utilities;

.translate-z-0 {
  transform: translateZ(0px);
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #d4b39a;
}


.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #d4b39a;
}

@layer base {
 
  body {
    @apply  leading-relaxed text-white;
  }
  .page {
    @apply w-full h-full;
  }
  .h1 {
    @apply text-[30px] xs:text-[35px] md:text-[60px] lg:text-[70px] xl:text-[55px] leading-tight md:leading-[1.3] mb-8 font-semibold;
  }
  .h2 {
    @apply text-[15px] leading-tight md:text-[25px] xl:text-[22px] md:leading-[1.3] mb-4 font-semibold;
  } 
  
  .h3 {
    @apply text-[30px] leading-tight md:text-[45px] md:leading-[1.3] mb-4 font-semibold;
  }

  p {
    @apply leading-[1.8] text-white font-light text-[16px] xs:text-lg md:text-2xl lg:text-3xl xl:text-lg;
  }
  .btn,
  .input {
    @apply h-[52px];
  }
  .input {
    @apply w-full h-[52px] rounded-lg pl-6 capitalize;
  }
  .input,
  .textarea {
    @apply bg-transparent outline-none focus:ring-1 focus:ring-accent border border-white/20 placeholder:text-white/30 placeholder:font-light;
  }
  .textarea {
    @apply w-full h-[180px] p-6 capitalize rounded-lg resize-none;
  }
}

.map-responsive{

  overflow:hidden;

  padding-bottom:56.25%;

  position:relative;

  height:0;

}
.map-responsive iframe{

  left:0;

  top:0;

  height:100%;

  width:100%;

  position:absolute;

}
.hover:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}
